*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #e4f6ff;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color:#006cca;
    width: 100%;
}

label.logo{
    color: white;
    padding: 0 50px;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: center;
    margin-right: 20px;  
    
        
}

nav ul li{
    align-items: center;
    line-height: 60px;
    background-color:#006cca;
    
}

nav ul li a {    
    color: white;
    text-align: center;
    padding: 15px 16px;
    margin-bottom: 1px;
}

nav ul li a:hover{ background-color: #002bba;}

.home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgview{
    width: 700px;
    height: 700px;
    object-fit: cover;
    display: none;
    
}

.ContactForm{
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 10px;
    width: 500px;
    background-color: #cadee8;
    padding: 60px;
       
}

input[type=text],select{
    font-size: 20px;
    box-sizing: border-box;
    margin: 8px 0;
    width: 100%;
    padding: 12px 20px;
}

input[type=submit]{
    font-size: 20px;
    width: 100%;
    background-color: #002bba;
    color: white;
    padding: 15px;
}

select:invalid{
    color: gray;
}

@media screen and (max-width: 680px) {
    nav ul{font-size: 13px;}
    nav ul li a { padding: 7px 8px;}
    label.logo{font-size: 23px;padding: 0 30px;}
}

@media screen and (max-width: 480px) {
    nav ul{font-size: 10px;}
    nav ul li a { padding: 7px 8px;}
    label.logo{font-size: 20px;padding: 0 20px;}
}