*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #e4f6ff;
}

.navcontainer{
    height: 80px;
    background-color:#006cca;
    position: fixed;
    width: 100%;
}

nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color:#006cca;
    width: 100%;
}

label.logo{
    color: white;
    padding: 0 50px;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
}

nav ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-right: 20px;  
    border: 1px solid white;
    border-radius: 10px;
        
}

nav ul li{
    align-items: center;
    line-height: 40px;   
    padding: 0 10px;
}

nav ul li a {    
    color: white;
    text-align: center;
    
}

.HOME{border-right: 1px solid white;}
.CONTACT{border-left: 1PX solid white;}

nav ul li a:hover{ background-color: #002bba;}

.home{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgview{
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    display: none;
    border-radius: 2%;
}

.ContactForm{
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;    
    width: 35vw;
    background-color: #cadee8;
    padding: 60px;
       
}

input[type=text],select{
    font-size: 20px;
    box-sizing: border-box;
    margin: 8px 0;
    width: 100%;
    padding: 12px 20px;
}

input[type=submit]{
    font-size: 20px;
    width: 100%;
    background-color: #002bba;
    color: white;
    padding: 15px;
}

select:invalid{
    color: gray;
}

.separator{
    margin: 40px 0;
    height: 150px;
    background-color: #006cca;
    color: white;
    font-size: 30px;
    padding-top: 40px;
    text-align: center;
}

.package{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pack{
    padding: 2%;   
    width: 30vw;
    height: 20vh;
    margin: 15px;
    border: 2px solid rgb(0, 124, 201);
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    margin: 15px 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-content: center; 
    border-top: 2px solid black;
    margin-top: 30px;
}

.footer-container{         
    width: 70vw;
    height: 30vh;    
    text-align: center;
    margin: 50px 0; 
    
}

@media screen and (max-width: 1275px){
    .home{
        display: flex; 
        flex-direction: column;
        align-items: center;}
    
    .imgview {
        margin-bottom: 40px;
        width: 70vw;
        height: 70vw;
        object-fit: cover;
        display: none;        
    }

    .ContactForm{
        width: 70vw;
    }
}

@media screen and (max-width: 680px) {
    nav ul{font-size: 13px;}
    nav ul li a { padding: 7px 8px;}
    label.logo{font-size: 23px;padding: 0 30px;}
  
}

@media screen and (max-width: 480px) {
    nav ul{font-size: 10px;}
    nav ul li a { padding: 7px 8px;}
    label.logo{font-size: 20px;padding: 0 20px;}
}